@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* Estilos para o modo claro */
body {
  background-color: #fafafa;
  color: #333; /* Cor da fonte para o modo claro */
  transition: background-color 0.2s linear, color 0.2s linear; /* Transição suave para a mudança de cor */
  font-family: 'Muli', sans-serif; /* Define a fonte para o corpo do documento */
}

/* Estilos para o modo escuro */
body.dark {
  background-color: #292c35;
  color: #ccc; /* Cor da fonte para o modo escuro */
}

