/* nightmode.css */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* Estilos para o modo claro */
body {
  background-color: #fafafa;
  color: #333;
  font-family: 'Muli', sans-serif;
}

/* Estilos para o modo escuro */
body.dark {
  background-color: #292c35;
  color: #ccc;
}

/* Transição apenas para a classe de transição */
body.transition {
  transition: background-color 0.2s linear, color 0.2s linear;
}

/*TAMANHO IMAGENS DO FEED DE PUB */
.post-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
}
