




.logo {
  width: 100px;
}

.navfundo {
  background: #49745f;
}

.navfundo a.navbar-brand,
.listaTP > li > a {
  color: white !important;
}

.navfundo button.navbar-toggler {
  border-color: white;
  background: white;
}

.btn2 {
  background-color: white;
  color: black;
}

.btn2:hover,
.btn2:focus {
  background-color: black;
  color: white;
}

/* espaço entre o navibar e o conteudo ========================= */
.topo {
  margin-top: 5px;

}

/* Adote um Pet ========================= */
.centro {
  text-align: center;
}

/* ========================= */

.anuncio {
  width: 100%;
  height: 600px;
  padding: 20px 20px;
}

.rodape {
  /*position: absolute;
  width:100%;*/
  margin-top: 20px;
  margin-left: 16%;
  margin-right: 16%;
}

/* SHAREBUTTONS ========================= */

.sharebuttons {
  width: 100%;
}


.sharebuttons a {
  color: #fff !important;
}

.btn-facebook {
  background: #3b5998;
}

.btn-twitter {
  background: #00acee;
}

.btn-google {
  background: #dd4b39;
}

.btn-pinterest {
  background: #c8232c;
}

.btn-linkedin {
  background: #0e76a8;
}

.btn-instagram {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  ;
}

.sharebuttons .btn {
  transition: .5s;
  opacity: 1;
}

.btn-facebook:hover {
  background: #2f4679;
}

.btn-twitter:hover {
  background: #0089bd;
}

.btn-google:hover {
  background: #b03b2d;
}

.btn-pinterest:hover {
  background: #9f1b23;
}

.btn-linkedin:hover {
  background: #0b5e85;
}

.btn-instagram:hover {
  opacity: .7;
}


/* ====================== end SHAREBUTTONS */


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

/* integrantes */

.integrantes {
  display: flex;
  justify-content: space-between;
}

/* CARTÃO DE INTEGRANTE */
.w3-card-4 {
  min-height: 600px;
  height: 600px;
  width: 150px;
}

.w3-card-4 img {
  min-height: 80%;
  object-fit: cover;
}

.w3-container {
  max-height: 15%;
}

/* CARROSEL */
.carousel-item .anuncio {
  object-fit: fill;
}





/* ----------------------------------------------------------------------------------------------------------------- */
/* ABA SUPORTE */








/* */

