 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 949px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 538px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/Fotoselecionada.jpg");
  background-position: 50% 31.62%;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px 101px 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 63px;
  min-height: 16px;
  width: 63px;
  min-width: 16px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 503px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-2 {
  height: 257px;
  object-position: 50% 60.72%;
  width: 257px;
  background-image: url("images/WhatsAppImage2024-06-08at23.46.56.jpeg");
  background-position: 50% 84.26%;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1 .u-social-icons-2 {
  height: 63px;
  min-height: 16px;
  width: 63px;
  min-width: 16px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 566px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-image-3 {
  height: 257px;
  object-position: 50% 46.55%;
  width: 257px;
  background-image: url("images/de7165d7-50ef-4292-930c-3dda1140d7a3.jpg");
  background-position: 50% 63.09%;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px 93px 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1 .u-social-icons-3 {
  height: 63px;
  min-height: 16px;
  width: 63px;
  min-width: 16px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 568px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-image-4 {
  height: 257px;
  object-position: 50% 37.76%;
  width: 257px;
  background-image: url("images/a9edb7ad-5b07-4ed2-b778-e0f98b0961e1.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px 80px 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1 .u-social-icons-4 {
  height: 63px;
  min-height: 16px;
  width: 63px;
  min-width: 16px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 568px;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-1 .u-image-5 {
  object-position: 50% 100%;
  height: 257px;
  width: 257px;
  background-image: url("images/wawa.png");
  background-position: 22.97% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-10 {
  font-style: italic;
  margin: 20px auto 0;
}

.u-section-1 .u-social-icons-5 {
  height: 63px;
  min-height: 16px;
  width: 63px;
  min-width: 16px;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-5 {
  height: 100%;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 410px;
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-11 {
  margin: 20px auto 0;
}

.u-section-1 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 761px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 444px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 82px;
    margin-right: 82px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 415px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 467px;
  }

  .u-section-1 .u-image-3 {
    background-position: 0% 50%;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 468px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 468px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 338px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1077px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -21px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 448px;
  }

  .u-section-1 .u-image-1 {
    height: 187px;
    width: 187px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 62px;
    margin-right: 62px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 448px;
  }

  .u-section-1 .u-image-2 {
    height: 187px;
    width: 187px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 448px;
  }

  .u-section-1 .u-image-3 {
    height: 220px;
    width: 220px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 70px;
    margin-right: 70px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 522px;
  }

  .u-section-1 .u-image-4 {
    height: 187px;
    width: 187px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 60px;
    margin-right: 60px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 522px;
  }

  .u-section-1 .u-image-5 {
    height: 187px;
    width: 187px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 522px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1358px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}